services:
  # Database - PostgreSQL
  postgres:
    image: postgis/postgis:17-3.5-alpine
    container_name: vrtx_postgres
    environment:
      - POSTGRES_USER=${DB_USERNAME:-vrtx_user}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-vrtx_password}
      - POSTGRES_DB=${DB_DATABASE:-vrtx_crm}
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data

  # Cache & Queue - Redis
  redis:
    image: redis:alpine
    container_name: vrtx_redis
    ports:
      - '6379:6379'
    volumes:
      - redis:/data

  # Mail Testing - Mailhog
  mailhog:
    image: mailhog/mailhog
    container_name: vrtx_mailhog
    ports:
      - '1025:1025'
      - '8025:8025'

volumes:
  postgres:
    driver: local
  redis:
    driver: local
